.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 2rem;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.main {
  min-width: 100%;
  margin-bottom: 4rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > h1 {
  color: rgb(90, 165, 165);
  font-size: xxx-large;
  margin: 0;
}

.list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-top: 1rem;
}

.card {
  max-width: 500px;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.05);
  animation: fadein 500ms ease-in-out;
}

.image:hover {
  cursor: pointer;
}
.image {
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.rating {
  font-weight: 500;
  color: darkgoldenrod;
  font-size: larger;
}

.label {
  font-weight: bold;
}

.details {
  color: grey;
  padding: 0 1rem;
  margin-bottom: 20px;
}

.details > h2 {
  color: rgb(90, 165, 165);
  font-size: xx-large;
  margin: 0.4rem;
}
.details > p {
  text-indent: 2rem;
  text-align: justify;
}

.control {
  display: flex;
  flex-direction: column-reverse;
  gap: 0.4rem;
}

.control > button {
  align-self: flex-start;
  width: fit-content;
}

.form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
}

.form > div > button {
  padding: 0.4rem 1.2rem;
  border-radius: 0.2rem;
  border: none;
  background-color: #0ca678;
  color: white;
}
.form > button:hover {
  opacity: 0.9;
  cursor: pointer;
}

.form > div {
  display: flex;
  gap: 10px;
}

.form label {
  font-weight: 600;
  color: gray;
  font-size: larger;
}

.input_group > input,
.input_group > select {
  height: 2rem;
  color: rgb(90, 165, 165);
  padding-left: 1.2rem;
  border: 1px solid gray;
  border-radius: 0.3rem;
  background: transparent;
}

.modal {
  width: 50vw;
}
.modal-image {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .list {
    grid-template-columns: 1fr 1fr;
  }
  .card {
    width: 20rem;
    padding-top: 0;
  }
  .form {
    gap: 0.4rem;
  }
  .control {
    flex-direction: row-reverse;
  }
}
@media (min-width: 1024px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
  .control {
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
  }
  .form {
    gap: 2rem;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
